*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
}

body{
    background-color: rgb(32, 30, 30);
}

.contenedor{
    display: flex;
    overflow: hidden;
}


/*BARRA NAVEGADORA*/
nav{
    height: 20%;
    background-color: rgba(67, 28, 23, 1);
}

.menu{
    display: flex;
    height: 20%;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
    margin-left: 8px;
}   

.menu-hambur{
    height: 20%;
    width: 100% ;
    margin-right: 10px;
}

.menu-items{
   display: flex;
   justify-content: space-around;
}

li a{
    color: rgba(191, 180, 180, 1);
    font-weight: bolder;
    font-size: 90%;
    margin-right: 15%;
}
li a:hover{
    text-decoration: underline;
}


/* ENCABEZADO */

.environment{
    display: flex;
    background-image: url(../img/release-back.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    font-size: 60%;
    z-index: -1;
}


.environment div{
    margin-top: 1%;
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}


.doomguyImage{
    position: relative;
    display: block;
    height: auto;
    width: 40%;
    z-index: 2;
    object-fit: cover;
    filter: drop-shadow(6px -6px 7px rgba(144, 210, 2, 0.5));
}

.titleImage{
    position: relative;
    display: block;
    justify-self: flex-end;
    max-width: 100%;
    max-height: auto;
    margin-left: 7%;
    z-index: 1;
    filter: drop-shadow(6px -6px 10px rgba(194, 237, 24, 0.5));
}

.environment h1{
    margin-left: 7%;
    font-size: 500%;
    color: rgba(191, 180, 180, 1);
}

/*SEPARADOR*/
.shadow{
    width: auto;
    height: 30%;
    background-color: black;
    box-shadow: 0 0 100px 100px;
    z-index: 5;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*CONTENIDO, CABECERA*/
.shadow+.environment{
    background-image: url("../img/release-back.png");
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: top;
    flex-direction: column;
    align-items: center;
}

.shadow+.environment h1{
    margin-top: 10%;
    margin-left: 0%;
    font-size: 1000%;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-left: 0%;
}

.contenido h2{
    align-self: center;
    text-align: center;
    font-size: 400%;
    color: rgba(191, 180, 180, 1);
    margin-top: 10%;
}

.contenido .facilitadores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-left: 10%;
}

.facilitadores a{
    width: 30%;
}

.facilitadores img{
    display: block;
    z-index: 10;
    filter: drop-shadow(6px -6px 30px rgba(63, 63, 61, 0.664));
    transition: all 1s ease;
}

.facilitadores img:hover{
    filter: drop-shadow(6px -6px 30px rgba(193, 193, 144, 0.664));
}


.boton {
    border: 1% solid rgb(93, 178, 112);
    padding: 1% 2% 1% 2%;
    background-color: rgb(93, 178, 112); 
    color: #0d091f; 
    text-transform:capitalize; 
    font-family: 'Helvetica', sans-serif; 
    font-size: 100%;
    border-radius: 20%;
    height: 10%;
    width: 10%;
    position: relative;
    margin-left: 75%;
    z-index: 15;
    transition: all 1s ease;
    filter: drop-shadow(2px -6px 20px rgba(144, 210, 2, 0.5));
    }

    .boton:hover {
        background: rgb(193, 226, 200);
        color: #0d091f ; 
        filter: drop-shadow(2px -6px 15px rgba(155, 248, 167, 0.715));
      }



/*CONTENIDO, PERSONAJES*/   

.seccion-personajes{
    font-size: 50%;
}

.contenido h1{
    align-self: flex-start;
    padding-left: 10%;
}

.seccion-personajes .slider-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 50vh;
    overflow-x: scroll;
    align-self: center;
    scroll-snap-type: x mandatory;
    margin-top: 2%;
}

.slider-item{
    flex: 0 0 30%;
    width: 100%;
    height: auto;
    object-fit: contain;
    scroll-snap-align: center;
    margin-right: 5%;
}




/*CONTENIDO, FEATURES*/




.seccion-features{
    font-size: 50%;
    margin-bottom: 10%;
    position: relative;
}

.seccion-features div:first-child{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
}


/*  FEATURE MAIN SCREEN IMAGE)*/  

.seccion-features img{
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
    width: 70%;
    align-self: center;
    margin-top: 2%;
}
.seccion-features img:first-child{
    opacity: 1;
    position: relative;
}
.seccion-features img:target{
    opacity: 1;
}

/*  FEATURE MAIN SCREEN TEXT   (NO FUNCIONA)*/    

.seccion-features .textFeature{
    border-radius: 20%;
    opacity: 0;
    display: flex;
    transition: opacity 1s;
    position: absolute;
    width: 50%;
    height: 10%;
    align-self: center;
    justify-items: center;
    margin-top: 5%;
    background-color: #0d091f;
}
.seccion-features .textFeature:first-child{
    opacity: 1;
    position: relative;
}
.seccion-features .textFeature:target{
    opacity: 1;
}
.seccion-features p{
    font-size: 700%;
    color: rgba(191, 180, 180, 1);
    font-weight: bold;
    width: 70%;
    align-self: center;
    justify-self: flex-end;
    margin-top: 2%;
}


/*  FEATURE ITEMS SELECTOR   */

.seccion-features .feature-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 7.5%;
    margin-top: 2%;
    align-items: flex-start;
    width: 85%;
}

.seccion-features a{
    display: flex;
    width: 30%;
    justify-content: center;
}

a img{
    position: relative;
    width: 50%;
    margin-top: 10%;
    transition: background-color 1s, border-radius 1s;
}
a img:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}









/*FOOTER*/
.footer{
    display: grid;
    grid-template-areas:'logoFooter columnaTienda columnaCategoria columnaNosotros columnaFinal';       
    grid-template-columns: 13% 18%  18% 18% 33%;
    background-color:  rgba(34, 30, 19, 1);
}


.logoFooter{
    grid-area: logoFooter ;
    display: flex;
    justify-content: center;
}
.logoFooter img{
    width: 100%;
}



.columnaTienda{
    grid-area: columnaTienda;
    display: contents;
}
.columnaCategoria{
    grid-area: columnaCategoria;
    display: contents;
}
.columnaNosotros{
    grid-area: columnaNosotros;
    display: contents;
}
.columnaFinal{
    grid-area: columnaFinal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.columnaFinal>div{
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.columnaFinal>div li{
    font-size: 10%;
    justify-self: center;
}
.columnaFinal>div li a{
    margin: 1%;
}
.columnaFinal>div li a:hover{
    background-color: rgba(191, 180, 180, 1);
    color: #0d091f;
}


.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}

.footer-list>a:first-child{
    font-size: 100%;
    text-decoration: underline;
}

.footer-list a{
    font-size: 70%;
    transition: all 1s ease;
}
.footer-list a:hover{
    font-size: 100%;
    text-decoration:dotted ;
}







/* responsive */
@media only screen and (max-width:232px){
    li a{
        font-size: 12px;
    }
}

@media only screen and (max-width:397px){

    .logo{
        width: 30px;
        margin-left: 5px;
    }   

    li a{
        font-size: 50%;
    }
    
    .menu-hambur{
        height: 20%;
        width: 60% ;
        margin-right: 10px;
    }
    
    .environment{
        font-size: 10%;
    }

    .doomguyImage{
        width: 10%;
    }
    
    .titleImage{
        max-width: 50%;
    }

    .boton{
        font-size: 15%;
        margin-left: 65%;
    }

    .seccion-personajes .slider-container{
        height: 10vh;
    }

    .seccion-features p{
        font-size: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
    }


    .footer-list{
        font-size: 10%;
    }
}

@media only screen and (max-width:570px){

    .environment{
        font-size: 30%;
    }

    .doomguyImage{
        width: 25%;
    }
    
    .titleImage{
        max-width: 75%;
    }


    .shadow+.environment h1{
        font-size: 300%;
    }

    .environment h1{
        font-size: 300%;
    }

    .boton{
        font-size: 50%;
    }

    .slider-item{
        width: 60%;
    }

    .seccion-personajes .slider-container{
        height: 25vh;
    }
    
    .seccion-features p{
        font-size: 200%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .footer-list{
        font-size: 20%;
    }

  
}
