*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
}

.contenedor{
    display: grid;
    grid-template-areas:"head"
                        "content"
                        "foot";
    grid-template-rows:1fr 15fr 2fr;
    background-color: rgba(30, 39, 69, 1);
    font-size: 40%;
}


/*BARRA NAVEGADORA*/
nav{
    height: 50px;
    background-color: rgba(9, 15, 35, 1);
}

.menu{
    grid-area: head;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
    margin-left: 5px;
}

.menu-hambur{
    height: 20px;
    width: 30px;
    margin-right: 10px;
}

li a{
    color: rgba(191, 180, 180, 1);
    font-weight: bolder;
    font-size: 8px;
    margin: 7px;
}

/*content*/
.game-box{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gaming-zone{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 140%;
    background-color: rgba(61, 71, 105, 1);
}

.portada{
    height: 330px;
    width: 330px;
}

.breadcrumb{
    display: flex;
    font-size: 8px;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 12px;
}

p a{
    color: rgba(95, 91, 91, 1);
}

.game-nav{
    display: flex;
    margin-top: 2px;
    justify-content: space-between;
    color: rgba(241, 233, 233, 1);
}

.game-nav p{
    font-size: 20px;
}

.botones-gamenav{
    display: flex;
    height: 20px;
}


/* footer */
.footer{
    grid-area: foot;
    background-color: rgba(9, 15, 35, 1);
}





/* responsive */
@media only screen and (min-width:400px){

    .contenedor{
        font-size: 50%;
    }

    nav, .menu{
        height: 60px;
    }
    
    .logo{
        width: 70px;
        margin-left: 5px;
    }
    
    .menu-hambur{
        height: 25px;
        width: 35px;
        margin-right: 10px;
    }
    
    li a, p a{
        font-size: 10px;
    }

    .portada{
        height: 360px;
        width: 370px;
    }
    .breadcrumb{
        margin-left: 20px;
    }
}

@media only screen and (min-width:600px){
    .contenedor{
        grid-template-rows:1fr 18fr 2fr;
    }
    
    .portada{
        height: 450px;
        width:450px;
    }

    .gaming-zone{
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 140%;
    }
    .botones-gamenav{
        height: 30px;
    }
    .game-nav p{
        font-size: 30px;
    }
    .breadcrumb{
        margin-left: 30px;
    }
}

@media only screen and (min-width:900px){

    .contenedor{
        grid-template-rows:1fr 25fr 2fr;
        font-size: 70%;
    }

    li a, p a{
        font-size: 15px;
    }
    
    .logo{
        height: 100px;
        width: 100px;
        margin-left: 5px;
    }
    
    .menu-hambur{
        height: 35px;
        width: 40px;
        margin-right: 10px;
    }

    nav, .menu{
        height: 70px;
    }

    .portada{
        height: 620px;
        width:720px;
    }
     
    .breadcrumb{
        margin-bottom: 10px;
        margin-left: 60px;
    }
}

@media only screen and (min-width:1400px){
    .contenedor{
        grid-template-rows:1fr 38fr 2fr;
    }
    .portada{
        height: 700px;
        width:1040px;
    }
    .gaming-zone{
        padding-top: 35px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 140%;
    }
    .botones-gamenav{
        height: 40px;
    }
    .game-nav p{
        font-size: 40px;
    }
    .breadcrumb{
        margin-left: 120px;
    }
    .breadcrumb p a{
        font-size:20px;
    }
}