*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.contenedor{
    display: grid;
    grid-template-areas: "head"
                         "content"
                         "content"
                         "content"
                         "content"
                         "foot";
    background-color: rgba(30, 39, 69, 1);
}


/*BARRA NAVEGADORA*/

.menu{
    grid-area: nav;
    display: flex;
    height: 75px;
    background-color: rgba(9, 15, 35, 1);
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 75px;
    width: 80px;
}

.menu-hambur{
    height: 35px;
    width: 40px;
}

li a{
    color: rgba(191, 180, 180, 1);
    font-weight: bolder;
    font-size: 12px;
    margin: 7px;

}


/* content */
.content{
    grid-area: content;
    height: 1000px;
}


/* footer */
.footer{
    grid-area: foot;
}